<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Course App</a>
        <ul class="navbar-nav me-auto">
            <li clas="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li clas="nav-item">
                <a asp-controller="Course" asp-action="List" class="nav-link">Kurslar</a>
            </li>
        </ul>
    </div>
</nav>